body{
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 50px;
    color:rgb(190, 190, 190);
    background-color:#292929;
    justify-content: center;
    font-weight: bolder;
    display: grid;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a{
    opacity: 0;
    font-size: xx-small;
}
label{
    padding-left: 20px;
    line-height: 28px;
    font-size: 16px;
    
}
img{
    block-size: 3em;
    padding-right: 15px;
}
#pick-up,#delivery{
    margin-left:40px;   
    color:dimgrey;
}


#btn{
    padding: 2px 25px 2px 25px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 40px;
    display: inline-block;

}
#email,#btn{
    border-radius: 10px;
    border-width: 0.3em;
    margin-top: 20px;
    font-weight: bold;
    background-color: rgb(245, 221, 83);
    color: black;
    border-color: black;
}

#jbh{
padding-top: 6px;
padding-bottom: 40px;
padding-left: 8px;;
}

input{ 
font-weight: bold;
border-radius: 12px;
color:rgb(15, 15, 15);
background-color: rgb(255, 255, 255);
display: inline-block;
margin-right: 10px;
float:left;

}

::placeholder{
font-weight: lighter;
}

label{
font-weight:lighter;
color:rgb(62, 138, 252);
}

#truck{
    padding-bottom: -20px;;
    animation-name: truck;
    animation-duration: 12000ms;
    animation-iteration-count: infinite;   
    display: none;

    
}

    @keyframes truck {

        0%{
            padding-left:-10px;
        }
        30%{
            padding-left: 80px;
        }
        100%{
            padding-left: -10px;
        }
                
    }

   
