body{
    padding-top: 35px;
    padding-left: 30px;
    color:rgb(102, 112, 247);
    background-color:rgb(44, 44, 42);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color:rgb(107, 243, 65);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
label{
    padding-left: 20px;
}
img{
    block-size: 3em;
    padding-right: 15px;
}
#one,#two,#three{
    padding-top: 20px;
   
}

#email,#btn,#clear{
    border-radius: 10px;
    border-width: 0.3em;
    margin-top: 20px;
    padding-left:5px;
    font-weight: bold;
    background-color: rgb(245, 221, 83);
    color: black;
    border-color: black;
}

#jbh{
padding-top: 6px;
padding-bottom: 20px;
}

input{  
border-radius: 20px;
color:rgb(15, 15, 15);
background-color: rgb(255, 255, 255);
display: inline-block;
float: left; 
}

#truck{
    padding-bottom: -20px;;
    animation-name: truck;
    animation-duration: 480ms;
    animation-iteration-count: infinite;
    display: none;
    

    
}

    @keyframes truck {

        0%{
            padding-left:-10px;
        }
        10%{
            padding-left: 80px;
        }
        100%{
            padding-left: -10px;
        }
                
    }

   
