body{
    padding-top: 50px;
    padding-left: 60px;
    color:rgb(117, 255, 135);
    background-color:rgb(56, 56, 56);
    font-weight: bolder;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a{
    opacity: 0;
}
label{
    padding-left: 20px;
    line-height: 28px;
    font-size: 16px;
    
}
img{
    block-size: 3em;
    padding-right: 15px;
}
div{
    padding-top: 20px;
   
}
#btn{
    padding: 2px 8px 2px 8px;
    font-size: 15px;
    font-weight: bold;
}
#email,#btn{
    border-radius: 10px;
    border-width: 0.3em;
    margin-top: 20px;
    padding-left:5px;
    font-weight: bold;
    background-color: rgb(245, 221, 83);
    color: black;
    border-color: black;
}

#jbh{
padding-top: 6px;
padding-bottom: 20px;
}

input{ 
font-weight: bold;
border-radius: 12px;
color:rgb(15, 15, 15);
background-color: rgb(255, 255, 255);
display: inline-block;
margin-right: 10px;
float:left;
}

::placeholder{
font-weight: lighter;
}

label{
font-weight:lighter;
}

#truck{
    padding-bottom: -20px;;
    animation-name: truck;
    animation-duration: 12000ms;
    animation-iteration-count: infinite;   
    display: none;

    
}

    @keyframes truck {

        0%{
            padding-left:-10px;
        }
        30%{
            padding-left: 80px;
        }
        100%{
            padding-left: -10px;
        }
                
    }

   
